<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des cours</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
</head>

<body>
    <div class="container">
        <h2>Liste des cours</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Libelle</th>
                <th>Nombre d'Heures</th>
                <th>Compteur d'Heures</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="cour : ${cours}">
               <td th:text="${cour.code}"></td>
               <td th:text="${cour.libelle}"></td>
               <td th:text="${cour.nbHeures}"></td>
               <td th:text="${cour.cptHeures}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>